.spw-container {
    width: 100%;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.spw-content {
    width: 1200px;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}

.spw-container button {
    width: 280px;
    height: 45px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffff;
}